<footer>
    <div class="d-flex justify-content-between mt-100">
        <div class="footer d-flex">
            <ul class="online-shopping">
                <li><a href="#">ONLINE SHOPPING</a></li>
                <div class="mt-25">
                    <li>Men</li>
                    <li>Women</li>
                    <li>Kids</li>
                    <li>Home & Living</li>
                    <li>Beauty</li>
                    <li>Gift Cards</li>
                    <li>Myntra Insider <span>New</span></li>
                </div>
            </ul>

            <ul class="useful-links">
                <li><a href="#">USEFUL LINKS</a></li>
                <div class="mt-25">
                    <li>Contact Us</li>
                    <li>FAQ</li>
                    <li>T&C</li>
                    <li>Terms of Use</li>
                    <li>Track Orders</li>
                    <li>Shipping</li>
                    <li>Cancellation</li>
                    <li>Returns</li>
                    <li>Whitehat</li>
                    <li>Blog</li>
                    <li>Careers</li>
                    <li>Privacy policy</li>
                    <li>Site Map</li>
                    <li>Corporate Information</li>
                </div>
            </ul>
        </div>

        <div class="app-experience">
            <p>EXPERIENCE MYNTRA APP ON MOBILE</p>
            <div class="download-link mt-25">
                <img src="/assets/images/playstore.png" alt="">
                <img src="/assets/images/appstore.png" alt="">
            </div>

            <div class="keep-in-touch mt-25">
                <p>KEEP IN TOUCH</p>
                <div class="social-media">
                    <span class="fb-icon"><img src="/assets/images/fbicon.png" alt=""></span>
                    <span class="twitter-icon"><img src="/assets/images/twittericon.png" alt=""></span>
                    <span class="youtube-icon"><img src="/assets/images/youtubeicon.png" alt=""></span>
                    <span class="insta-icon"><img src="/assets/images/instaicon.png" alt=""></span>
                </div>
            </div>
        </div>

        <div class="promises">
            <div class="d-flex">
                <div class="original-img"><img src="/assets/images/original.png" alt=""></div>
                <div><b>100% ORIGINAL</b> guarantee for all products at myntra.com</div>
            </div>

            <div class="d-flex mt-25">
                <div class="return-icon"><img src="/assets/images/returnicon.png" alt=""></div>
                <div><b>Return Within 30 days</b> of recieving your order</div>
            </div>
        </div>
    </div>
</footer>